@page "/PullRequests"
@attribute [StreamRendering]
@using Satori.AppServices.ViewModels.PullRequests
@using Satori.AppServices.Services
@using CodeMonkeyProjectiles.Linq
@using Satori.AppServices.Models
@using Satori.AppServices.ViewModels.WorkItems
@inject PullRequestService PullRequestService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IConnectionSettingsStore ConnectionSettingsStore

<PageTitle>Pull Requests - Satori</PageTitle>

<h3>Pull Requests
    @if (_pullRequests != null)
    {
        <span class="badge bg-primary">@_pullRequests.Length</span>
    }
</h3>

@if (_pullRequests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Pull Request</th>
                <th>Work Items</th>
                <th>Created By</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pullRequest in _pullRequests)
            {
                <tr style="vertical-align:middle;">
                    <td class="cell-link" @onclick="() => OpenPullRequest(pullRequest)" title="Open PR#@(pullRequest.Id)">
                        <div class="pullrequest-cell">
                            <div class="pullrequest-id">@pullRequest.Id</div>
                            <div>
                                <span class="pullrequest-repositoryname">@pullRequest.Project/@pullRequest.RepositoryName</span>
                                <br />
                                <span class="pullrequest-title">@pullRequest.Title</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        @foreach (var workItem in pullRequest.WorkItems)
                        {
                            <div class="work-item @workItem.Type.CssClass cell-link" @onclick="() => OpenWorkItem(workItem)" title="Open D#@(workItem.Id)">
                                D#@workItem.Id @workItem.Title
                            </div>
                        }
                        @foreach (var projectCode in pullRequest.WorkItems.SelectWhereHasValue(wi => wi.ProjectCode).Distinct())
                        {
                            <div class="project-code">
                                P#@projectCode
                            </div>
                        }
                        @foreach (var label in pullRequest.Labels)
                        {
                            <div style="display: flex;">
                                <div style="align-self: center;">
                                    <span class="badge bg-secondary bg-gradient" style="font-size:0.5rem;">@label</span>
                                </div>
                            </div>
                        }
                    </td>
                    <td>
                        <div style="display: flex;">
                            <div style="align-self: center;">
                                <img src="@pullRequest.CreatedBy.AvatarUrl" width="24" height="24"
                                     alt="@pullRequest.CreatedBy.DisplayName"
                                     title="@pullRequest.CreatedBy.DisplayName" />
                            </div>
                            <div style="margin-left: 3px;">
                                <div>
                                    <span class="timestamp">
                                        @pullRequest.CreationDate.LocalDateTime.ToString("yyyy-MM-dd")
                                    </span>
                                </div>
                                @if (pullRequest.Status == Status.Draft)
                                {
                                    <div style="margin-top: -10px;">
                                        <span class="badge bg-warning" style="font-size:0.5rem;">Draft</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="avatar-row">
                            @foreach (var review in pullRequest.Reviews.OrderByDescending(r => r.IsRequired))
                            {
                                <div class="avatar-cell @(review.IsRequired ? "" : "review-optional")">
                                    <img src="@review.Reviewer.AvatarUrl"
                                         alt = "@(review.IsRequired ? "" : "Optional:") @review.Reviewer.DisplayName"
                                         title="@(review.IsRequired ? "" : "Optional:") @review.Reviewer.DisplayName" />
                                    @if (review.Vote >= ReviewVote.ApprovedWithSuggestions)
                                    {
                                        <span class="vote vote-approved"></span>
                                    }
                                    @if (review.Vote is ReviewVote.WaitingForAuthor)
                                    {
                                        <span class="vote vote-wait"></span>
                                    }
                                    @if (review.Vote == ReviewVote.Rejected)
                                    {
                                        <span class="vote vote-rejected"></span>
                                    }
                                </div>
                            }
                        </div>
                        

                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private PullRequest[]? _pullRequests;

    protected override async Task OnInitializedAsync()
    {
        if (!ConnectionSettingsStore.GetAzureDevOpsSettings().Enabled)
        {
            // This page shouldn't be accessible if Kimai is disabled.  Go to Home page where AzureDevOps can be configured/enabled.
            NavigationManager.NavigateTo("/");
        }

        _pullRequests = (await PullRequestService.GetPullRequestsAsync()).ToArray();
        StateHasChanged();  //Quickly show the PR list to the user.

        const int pageSize = 20;
        var topPrs = _pullRequests.Take(pageSize).ToArray();
        await PullRequestService.AddWorkItemsToPullRequestsAsync(topPrs);
        StateHasChanged();

        await PullRequestService.AddWorkItemsToPullRequestsAsync(_pullRequests.Skip(pageSize).ToArray());
    }

    #region Cell Links

    private void OpenPullRequest(PullRequest pullRequest)
    {
        JsRuntime.InvokeVoidAsync("open", pullRequest.Url, "_blank");
    }
    private void OpenWorkItem(WorkItem workItem)
    {
        JsRuntime.InvokeVoidAsync("open", workItem.Url, "_blank");
    }

    #endregion Cell Links

}
