@page "/DailyStandUps"
@using Satori.AppServices.ViewModels.DailyStandUps
@using Satori.AppServices.Services
@using Satori.AppServices.ViewModels
@using Flurl
@using Satori.AppServices.Extensions
@using Satori.AppServices.ViewModels.WorkItems
@using CodeMonkeyProjectiles.Linq
@attribute [StreamRendering]
@inject UserService UserService
@inject StandUpService StandUpService
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject IJSRuntime JsRuntime

<PageTitle>Stand-Ups - Satori</PageTitle>

<h3>Daily Stand-Ups</h3>

<div class="filter-row">
    <div class="filter-label">Date Range:</div>
    <div class="dropdown">
        <button class="dropbtn">@DateSelector.PeriodText ▾</button>
        <div class="dropdown-content">
            <div class="dropdown-content-menu" @onclick="async () => await DateSelector.ChangePeriod(Period.Today)">Today</div>
            <div class="dropdown-content-menu" @onclick="async () => await DateSelector.ChangePeriod(Period.LastTwoDays)">Last 2 Days</div>
            <div class="dropdown-content-menu" @onclick="async () => await DateSelector.ChangePeriod(Period.WorkWeek)">Work Week</div>
            <div class="dropdown-content-menu" @onclick="async () => await DateSelector.ChangePeriod(Period.LastSevenDays)">Last 7 Days</div>
        </div>
    </div>
    <div class="date-range">
        <div><button class="btn-date-range btn-date-range-decrement" @onclick="DateSelector.DecrementPeriod">«</button></div>
        <div><span>@InLoading @DateSelector.DateRangeText</span></div>
        <div><button class="btn-date-range btn-date-range-increment" @onclick="DateSelector.IncrementPeriod">»</button></div>
    </div>
    <div class="dropdown" id="collapse-button">
        <button class="dropbtn">Collapse ▾</button>
        <div class="dropdown-content">
            <div class="dropdown-content-menu" @onclick="CollapseAll">All</div>
            <div class="dropdown-content-menu" @onclick="CollapseProjects">Projects</div>
            <div class="dropdown-content-menu" @onclick="CollapseActivities">Activities</div>
            <div class="dropdown-content-menu" @onclick="CollapseNone">None</div>
        </div>
    </div>
</div>

@foreach (var day in StandUpDays)
{
    <div class="day-header">
        <div class="duration">
            <div class="duration-caret"><span class="caret @(day.IsCollapsed ? "" : "caret-down")" @onclick="() => ToggleCollapsed(day)"></span></div>
            <div class="duration-link">
                <a href="@day.Url" target="_blank">
                    <span class="bi bi-box-arrow-up-right"></span>
                </a></div>
            <div class="duration-minutes">
                <span class="">@day.TotalTime.ToString(@"hh\:mm")</span>
            </div>
            <div class="duration-decimal">
                <span class="">@day.TotalTime.TotalHours.ToNearest(0.05) h</span>
            </div>
        </div>
        <div class="export @(day.AllExported ? "export-done" : "") @(day.CanExport ? "export-enabled" : "")">
            @if (day.AllExported)
            {
                <span class="badge bg-secondary">Exported</span>
            }
            else if (day.CanExport)
            {
                <button class="btn btn-outline-success">Export</button>
            }
            else
            {
                <span class="badge bg-danger">Cannot Export</span>
            }
        </div>
        <div class="day-header-day">@day.Date.ToString("D")</div>
    </div>
    @foreach (var project in day.Projects)
    {
        <div class="project-header @(day.IsCollapsed ? "hidden" : "")">
            <div class="duration">
                <div class="duration-caret"><span class="caret @(project.IsCollapsed ? "" : "caret-down")" @onclick="() => ToggleCollapsed(project)"></span></div>
                <div class="duration-link"><a href="@project.Url" target="_blank">
                    <span class="bi bi-box-arrow-up-right"></span>
                </a></div>
                <div class="duration-minutes">
                    <span class="">@project.TotalTime.ToString(@"hh\:mm")</span>
                </div>
                <div class="duration-decimal">
                    <span class="">@project.TotalTime.TotalHours.ToNearest(0.05) h</span>
                </div>
            </div>
            <div class="export @(project.AllExported ? "export-done" : "") @(project.CanExport ? "export-enabled" : "")">
                @if (project.AllExported)
                {
                    <span class="badge bg-secondary">Exported</span>
                }
                else if (project.CanExport)
                {
                    <button class="btn btn-outline-success">Export</button>
                }
                else
                {
                    <span class="badge bg-danger">Cannot Export</span>
                }
            </div>
            <div class="project-header-project">@project.ProjectName</div>
            <div class="project-header-customer">
                @if (project.CustomerUrl != null)
                {
                    if (project.CustomerAcronym != null)
                    {
                        <label>@project.CustomerAcronym</label>
                    }
                    <img src="@project.CustomerUrl" alt="@project.CustomerName" title="@project.CustomerName"/>
                }
                else
                {
                    @project.CustomerName
                }
            </div>
        </div>


        @foreach (var activity in project.Activities)
        {
            <div class="activity-header @(day.IsCollapsed || project.IsCollapsed ? "hidden" : "")">
                <div class="duration">
                    <div class="duration-caret"><span class="caret @(activity.IsCollapsed ? "" : "caret-down")" @onclick="() => ToggleCollapsed(activity)"></span></div>
                    <div class="duration-link"><a href="@activity.Url" target="_blank">
                        <span class="bi bi-box-arrow-up-right"></span>
                    </a></div>
                    <div class="duration-minutes">
                        <span class="">@activity.TotalTime.ToString(@"hh\:mm")</span>
                    </div>
                    <div class="duration-decimal">
                        <span class="">@activity.TotalTime.TotalHours.ToNearest(0.05) h</span>
                    </div>
                </div>
                <div class="export @(activity.AllExported ? "export-done" : "") @(activity.CanExport ? "export-enabled" : "")">
                    @if (activity.AllExported)
                    {
                        <span class="badge bg-secondary">Exported</span>
                    }
                    else if (activity.CanExport)
                    {
                        <button class="btn btn-outline-success">Export</button>
                    }
                    else
                    {
                        <span class="badge bg-danger">Cannot Export</span>
                    }
                </div>
                <div class="activity-header-activity">@activity.ActivityName</div>
            </div>

            <table class="time-table @(day.IsCollapsed || project.IsCollapsed || activity.IsCollapsed ? "hidden" : "")">
            @foreach (var entry in activity.TimeEntries)
            {
                <tr class="time-entry">
                    <td class="time-entry-time">@entry.Begin.ToString("HH:mm") to @entry.End?.ToString("HH:mm")</td>
                    <td>
                        <div class="duration">
                            <div class="duration-minutes">
                                <span class="">@entry.TotalTime.ToString(@"hh\:mm")</span>
                            </div>
                            <div class="duration-decimal">
                                <span class="">@entry.TotalTime.TotalHours.ToNearest(0.05) h</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="export @(entry.Exported ? "export-done" : "") @(entry.CanExport ? "export-enabled" : "")">
                            @if (entry.Exported)
                            {
                                <span class="badge bg-secondary">Exported</span>
                            }
                            else if (entry.CanExport)
                            {
                                <button class="btn btn-outline-success">Export</button>
                            }
                            else
                            {
                                <span class="badge bg-danger">Cannot Export</span>
                            }
                        </div>
                    </td>
                    <td class="time-entry-comments">
                        @if (entry.Task != null)
                        {
                            <p>
                                @if (entry.Task.Type == WorkItemType.Task && entry.Task.Parent != null)
                                {
                                    <span class="work-item @entry.Task.Parent.Type.CssClass cell-link" @onclick="() => OpenWorkItem(entry.Task.Parent)" title="Open D#@(entry.Task.Parent.Id)">
                                        D#@entry.Task.Parent.Id 
                                        @entry.Task.Parent.Title
                                    </span>
                                    <span> » </span>
                                }
                                <span class="work-item @entry.Task.Type.CssClass cell-link" @onclick="() => OpenWorkItem(entry.Task)" title="Open D#@(entry.Task.Id)">
                                    @if (entry.Task.Parent == null)
                                    {
                                        <label>D#@entry.Task.Id&nbsp;</label>
                                    }
                                    @entry.Task.Title

                                    @if (entry.Task.Type == WorkItemType.Task)
                                    {
                                        if (entry.Task.State == ScrumState.Done)
                                        {
                                            <span class="badge bg-success">✔️ Done</span>
                                        }
                                        else if (entry.Task.State == ScrumState.Removed)
                                        {
                                            <span class="badge bg-success">✔ Removed</span>
                                        }
                                        else if (entry.Task.State == ScrumState.ToDo)
                                        {
                                            <span class="badge bg-danger">To Do</span>
                                        }
    
                                        if (entry.NeedsEstimate)
                                        {
                                            <span class="badge bg-danger">Needs Estimate</span>
                                        }
                                        else if (entry.TimeRemaining != null)
                                        {
                                                <span class="badge @(entry.TimeRemaining > TimeSpan.Zero ? "bg-secondary" : "bg-danger")">@entry.TimeRemaining.Value.TotalHours.ToNearest(0.05) h</span>
                                        }
                                    }
                                </span>
                            </p>
                        }
                        @if (entry.Accomplishments != null)
                        {
                            <p><span title="Accomplishments">🏆</span> @entry.Accomplishments</p>
                        }
                        @if (entry.Impediments != null)
                        {
                            <p><span title="Impediments">🧱</span> @entry.Impediments</p>
                        }
                        @if (entry.Learnings != null)
                        {
                            <p><span title="Today I Learned">🧠</span> @entry.Learnings</p>
                        }
                        @if (entry.OtherComments != null)
                        {
                            <p>@entry.OtherComments</p>
                        }
                        </td>
                </tr>
            }
            </table>
        }
    }
}

@code {

    private Person CurrentUser { get; set; } = Person.Empty;
    private DateSelectorViewModel DateSelector { get; set; } = new(Person.Empty.FirstDayOfWeek, standUpService: null);
    private StandUpDay[] StandUpDays { get; set; } = [];
    
    private LoadingStatusLabel InLoading { get; set; } = LoadingStatusLabel.InLoading;

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = await UserService.GetCurrentUserAsync();
        var period = GetPeriodFromUrl();
        DateSelector = new DateSelectorViewModel(CurrentUser.FirstDayOfWeek, StandUpService);
        DateSelector.DateChanging += DateChanging;
        DateSelector.DateChanged += DateChanged;
        await DateSelector.ChangePeriod(period);
    }

    private Period GetPeriodFromUrl()
    {
        var periodString = new Url(NavigationManager.Uri).QueryParams
            .Where(qp => qp.Name == "DatePeriod")
            .Select(qp => qp.Value.ToString())
            .FirstOrDefault();
        return Enum.TryParse(periodString, out Period period) ? period : DateSelector.Period;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var period = await LocalStorage.GetItemAsync<Period>("DatePeriod");
            CurrentPeriod = period;
            await DateSelector.ChangePeriod(period);
            StateHasChanged();
        }
    }

    private Period CurrentPeriod { get; set; }
    private void DateChanging(object? sender, EventArgs eventArgs)
    {
        InLoading = LoadingStatusLabel.InLoading;
        StandUpDays = [];

        if (CurrentPeriod == DateSelector.Period)
        {
            return;
        }

        var url = NavigationManager.Uri
            .AppendQueryParam("DatePeriod", null)
            .AppendQueryParam("DatePeriod", DateSelector.Period);
        NavigationManager.NavigateTo(url, forceLoad: false);
        
        LocalStorage.SetItemAsync("DatePeriod", DateSelector.Period);
        CurrentPeriod = DateSelector.Period;
    }

    private void DateChanged(object? sender, DateChangedEventArgs eventArgs)
    {
        StandUpDays = eventArgs.StandUpDays;
        InLoading = LoadingStatusLabel.FinishedLoading;
    }
    
    private void OpenWorkItem(WorkItem workItem)
    {
        JsRuntime.InvokeVoidAsync("open", workItem.Url, "_blank");
    }

    #region Collapse

    private static void ToggleCollapsed(StandUpDay day)
    {
        day.IsCollapsed = !day.IsCollapsed;
    }
    private static void ToggleCollapsed(ProjectSummary project)
    {
        project.IsCollapsed = !project.IsCollapsed;
    }
    private static void ToggleCollapsed(ActivitySummary activity)
    {
        activity.IsCollapsed = !activity.IsCollapsed;
    }   
    
    private void CollapseAll()
    {
        foreach (var node in StandUpDays)
        {
            node.IsCollapsed = true;
        }
    }

    private void CollapseProjects()
    {
        foreach (var day in StandUpDays)
        {
            day.IsCollapsed = false;
            foreach (var project in day.Projects)
            {
                project.IsCollapsed = true;
            }
        }
    }

    private void CollapseActivities()
    {
        foreach (var day in StandUpDays)
        {
            day.IsCollapsed = false;
            foreach (var project in day.Projects)
            {
                project.IsCollapsed = false;
                foreach (var activity in project.Activities)
                {
                    activity.IsCollapsed = true;
                }
            }
        }
    }

    private void CollapseNone()
    {
        foreach (var day in StandUpDays)
        {
            day.IsCollapsed = false;
            foreach(var project in day.Projects)
            {
                project.IsCollapsed = false;
                foreach (var activity in project.Activities)
                {
                    activity.IsCollapsed = false;
                }
            }
        }
    }

    #endregion Collapse

    private class LoadingStatusLabel
    {
        private readonly string _label;

        private LoadingStatusLabel(string label)
        {
            _label = label;
        }

        public override string ToString() => _label;

        public static readonly LoadingStatusLabel InLoading = new("Loading: ");
        public static readonly LoadingStatusLabel FinishedLoading = new(string.Empty);
    }
}
