@page "/PullRequests"
@using Satori.AppServices.Services
@using Satori.AppServices.ViewModels.PullRequests

<PageTitle>Pull Requests</PageTitle>

<h3>Pull Requests</h3>

@if (_pullRequests == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>PR#</th>
                <th>Repo</th>
                <th>Title</th>
                <th>Work Items</th>
                <th>Created By</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pullRequest in _pullRequests)
            {
                <tr style="vertical-align:middle;">
                    <td><a href="@pullRequest.Url">@pullRequest.Id</a></td>
                    <td>
                        <span class="project">@pullRequest.Project/</span>
                        <br/>
                        @pullRequest.RepositoryName
                    </td>
                    <td><a href="@pullRequest.Url">@pullRequest.Title</a></td>
                    <td>
                        @foreach (var workItem in pullRequest.WorkItems)
                        {
                            <div>
                                <a href="@workItem.Url">D#@workItem.Id</a> @workItem.Title
                            </div>
                        }
                    </td>
                    <td>
                        <div style="display: flex;">
                            <div style="align-self: center;">
                                <img src="@pullRequest.CreatedBy.AvatarUrl" width="24" height="24"
                                     alt="@pullRequest.CreatedBy.DisplayName"
                                     title="@pullRequest.CreatedBy.DisplayName" />
                            </div>
                            <div style="margin-left: 3px;">
                                <div>
                                    <span class="timestamp">
                                        @pullRequest.CreationDate.LocalDateTime.ToString("yyyy-MM-dd")
                                    </span>
                                </div>
                                @if (@pullRequest.Status == Status.Draft)
                                {
                                    <div style="margin-top: -10px;">
                                        <span class="badge bg-warning" style="font-size:0.5rem;">Draft</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="avatar-row">
                            @foreach (var review in @pullRequest.Reviews)
                            {
                                <div class="avatar-cell">
                                    <img src="@review.Reviewer.AvatarUrl" width="24" height="24"
                                         alt="@review.Reviewer.DisplayName"
                                         title="@review.Reviewer.DisplayName"/>
                                    @if (review.Vote >= ReviewVote.ApprovedWithSuggestions)
                                    {
                                        <span class="vote vote-approved"></span>
                                    }
                                    @if (review.Vote is ReviewVote.WaitingForAuthor)
                                    {
                                        <span class="vote vote-wait"></span>
                                    }
                                    @if (review.Vote == ReviewVote.Rejected)
                                    {
                                        <span class="vote vote-rejected"></span>
                                    }
                                </div>
                            }
                        </div>
                        

                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private IEnumerable<PullRequest>? _pullRequests;

    protected override async Task OnInitializedAsync()
    {
        var srv = new PullRequestService(Program.ConnectionSettings);

        _pullRequests = await srv.GetPullRequestsAsync();
    }
}
