@page "/SprintBoards"
@using Satori.AppServices.Services
@using Satori.AppServices.ViewModels.Sprints
@using System.Web
@attribute [StreamRendering]


<PageTitle>Sprint Boards</PageTitle>

<h3>Sprint Boards</h3>

@if (_sprints == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="avatar-row">
        @foreach (var sprint in _sprints.OrderBy(x => x.TeamName))
        {
            <div class="avatar-cell">
                <img src="@sprint.TeamAvatarUrl" width="24" height="24" 
                     alt="@sprint.TeamName"
                     title="@sprint.TeamName @HttpUtility.HtmlEncode("\r") @sprint.Name @HttpUtility.HtmlEncode("\r") Finishes: @sprint.FinishTime.ToString("yyyy-MM-dd")" />
            </div>
        }
    </div>
}


@code {
    private Sprint[]? _sprints;

    protected override async Task OnInitializedAsync()
    {
         var srv = Program.Services.GetRequiredService<SprintBoardService>();
         _sprints = (await srv.GetActiveSprintsAsync()).ToArray();
    }
}
